/* #home {
	background: #47916c;
	color: white;
} */

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}


/*  */

#nav1 {
    background: linear-gradient(to right, #47916c, #2c3e50);
}