/* Menus */

#nav1 {
    background: linear-gradient(to right, #47916c, #2c3e50);
    height: 20px;
}

#nav2 {
    background: linear-gradient(to right, #47916c, #2c3e50);
}

/* Adicione isso ao seu arquivo CSS */
.navbar-nav li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #dffcee;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    /* Adicione sombra conforme necessário */
}

/* Conteúdo */

.container {
    text-align: justify;
}


/* Adicionando estilo para hover nas imagens */
.biome-img-container {
    position: relative;
    overflow: hidden;
}

.biome-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.biome-img-container:hover .biome-img-overlay {
    opacity: 1;
}


/* Estilos personalizados para os Accordions */
.accordion-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.pa123 {
    background-color: #D5FDDB;
    color: #495057;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border: none;
}

.pa4 {
    background-color: #BEE4FE;
    color: #495057;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border: none;
}

.pa5 {
    background-color: #F5B5B7;
    color: #495057;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border: none;
}

.pa6 {
    background-color: #F2EEC6;
    color: #495057;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border: none;
}

.accordion-button:hover {
    background-color: #e9ecef;
}

.accordion-collapse {
    transition: max-height 0.5s ease-in-out, height 0.5s ease-in-out;
    max-height: 0;
    height: 0;
    overflow: hidden;
    background-color: #fff;
}

.accordion-item.active .accordion-collapse {
    max-height: 1000px;
    height: auto;
}

.accordion-body {
    padding: 15px;
    color: #495057;
}

/* Footer */
.footer {
    background-color: #dffcee;
    padding-top: 20px;
    border-top: 1px solid #47916c;
    margin-top: 20px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 15px;
}

.footer-links a {
    color: #000;
    text-decoration: none;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}